.font-size{
    font-size: xx-large;
    text-align: center;
   color: gold;
}
.bgr{
    background-color: crimson;
    height: 50px;

    font-size: 100px;
    display: inline-block;
    text-align: center;

    top: -4px;
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    color: gold;



}
